<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994693315143-22o6ld6jn6ig70fmmf806k09knfli32i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994693315143-22o6ld6jn6ig70fmmf806k09knfli32i</string>
	<key>API_KEY</key>
	<string>AIzaSyCcvbx3vL3uEmsHRijxtXS1uU9uKrvenr0</string>
	<key>GCM_SENDER_ID</key>
	<string>994693315143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justinshieh.myapp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-ae383</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-ae383.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994693315143:ios:b46f598876d7c16d258f62</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios-13-ae383.firebaseio.com</string>
</dict>
</plist>